* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.15s ease-in;
}

html,
body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  scroll-behavior: smooth;
  overflow: hidden;
}

a {
  text-decoration: none;
}